
#container1 {
    display : flex;
    justify-content: space-between;
    width : 70%;
    height: 500px;
    position: relative;
    left : 220px;
}

.puzzle_box{
    display : flex;
    justify-content: space-between;
    flex-direction: column;
    width : 45%;
    height: 450px;
    margin : 10px;
    padding: 10px;
    border : 1px solid black;
}

.puzzle_box > div{
    display : flex;
    justify-content: space-between;
    width : 90%;
    height: 450px;
    margin : 10px;
    padding: 10px;
}

.puzzle_piece {
    width : 25%;
    border : 1px solid black;
}

#container2 {
    display : flex;
    justify-content: space-evenly;
    width : 70%;
    height : 200px;
    position : relative;
    left : 220px;
    top : 20px;
}

#Shupple {
    width : 15%;
    height : 30px;
    position: relative;
    top : 50px;
}

#timer{
    width: 30%;
    height : 150px;
    border : 1px solid black;
}

#piece1{
    background-color: black;
}
#piece2{
    background-color: red
}
#piece3{
    background-color: orange;
}
#piece4{
    background-color: yellow;
}
#piece5{
    background-color: green;
}
#piece6{
    background-color: blue;
}
#piece7{
    background-color: aqua;
}
#piece8{
    background-color: darkmagenta;
}
#piece9{
    background-color: gray;
}
#piece10{
    background-color: white;
}
#piece11{
    background-color: tomato;
}
#piece12{
    background-color: burlywood;
}
#piece13{
    background-color: sandybrown;
}
#piece14{
    background-color: darkslategray;
}
#piece15{
    background-color: sienna;
}
#piece16{
    background-color: chartreuse;
}
#piece17{
    background-color: royalblue;
}
#piece18{
    background-color: mediumpurple;
}