

#first {
    background-color: red;
    color:skyblue;
    margin-left : auto;
    margin-right: auto;
    width: 100px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
}

#second {
    background-color: orange;
    color:red;
    padding: 20px;

    /* height: 10%; 돔구조에서 분모의 세로구조가 정해져있다면 먹힌다 */
}

#third {
    background-color: yellow;
    color:purple;
    border: 1px dotted black;
    border-radius: 4px;
}

.box {
    font-size : 10px; 
    width: fit-content;
    height: fit-content;
}