
.box01{width: 500px;height: 300px;
    background: url(https://cdn.pixabay.com/photo/2020/06/28/00/04/chicago-5347435_960_720.jpg);
    background-size: cover;
    opacity: 1;
}
.box01 h1{color: rgb(121, 68, 219);text-align: center;line-height: 300px;}


