@media (min-width: 640px){
    .container {
        position : fixed;
        top: 5px;
        left: 0;
        right: 0;
        flex-direction: row;  /*메인축을 어느방향으로 할것인지*/
        /* flex-direction: column; */
        /* flex-direction: row-reverse; */
        /* flex-direction: column-reverse; */
        display: flex;
        /* display: inline-flex; */
        flex-wrap: nowrap;
        /* flex-wrap: wrap; */
        /* flex-wrap: wrap-reverse; */
        justify-content: space-between;
        /* justify-content: flex-start; */
        /* justify-content: flex-end; */
        /* justify-content: center; */
        /* justify-content: space-between; */
        /* justify-content: space-around; */
        /* justify-content: space-evenly; */ /*IE/edge에서는 적용안된다*/

        align-items: center;
        /* align-items: stretch; */
        /* align-items: flex-start; */
        /* align-items: flex-end; */
        /* align-items: center; */
        /* align-items: baseline; */

        /* position: absolute; */

        

        border: 1px dotted black; 
        height: 40px;
    }
    .item1 {
        display: flex;
        align-items: flex-start;
        border: 1px dotted black;
        height: 40px;
        margin-left: 8px;
    }

    #list {
        /* display: inline-block; */
        border: 1px dotted black; 
        width: 40px; 
        height: 30px;
        margin: 2px;
        padding: 2px;
        background-image: url("list.png");
        background-size: 90%;
        

    }

    #logo {
        display: inline-block;
        width: 90px; 
        height: 30px;
        margin: 2px;
        padding: 2px;
        background-image: url("logo.png");
        background-size: 120%;
    }

    .item2 {
        overflow: hidden;
        display:flex;
        border: 1px dotted black;
        width:40% ;
        height: 100%;
    }

    .item2-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width : 84%;
        height: 100%;
    }

    #search {
        border: 1px dotted black; 
        height: 80%;
        width: 90%;
        margin:2px;
    }

    #keyboard {
        border: 1px dotted black; 
        height: 80%;
        width: 10%;
        margin:2px;
        padding:1px;
    }

    #glass {
        border: 1px dotted black; 
        height: 80%;
        width: 8%;
        margin:2px;
        padding:1px;
    }

    #mic {
        border: 1px dotted black; 
        height: 80%;
        width: 8%;
        margin:2px;
        padding:1px;
    }

    .item3 {
        display:flex;
        border: 1px dotted black; 
        height: 40px;
    }

    #MakeVideo_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #App_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #Notice_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #Id_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    }

@media (max-width: 640px){
    .container {
        position : fixed;
        top: 5px;
        left: 0;
        right: 0;
        flex-direction: row;  /*메인축을 어느방향으로 할것인지*/
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;   
        align-items: center;   
        border: 1px dotted black; 
        height: 40px;
    }
    .item1 {
        display: flex;
        align-items: flex-start;
        border: 1px dotted black;
        height: 40px;
        margin-left: 8px;
    }
    
    #list {
        /* display: inline-block; */
        border: 1px dotted black; 
        width: 40px; 
        height: 30px;
        margin: 2px;
        padding: 2px;
        background-image: url("list.png");
        background-size: 90%;
    }
    
    #logo {
        display: inline-block;
        width: 90px; 
        height: 30px;
        margin: 2px;
        padding: 2px;
        background-image: url("logo.png");
        background-size: 120%;
    }
    
    .item2 {
        display:flex;
        justify-content: flex-end;
        border: 1px dotted black;
        width:40% ;
        height: 100%;
    }
    
    .item2-1{
        display: None;
        flex-direction: row;
        justify-content: space-between;
        width : 84%;
        height: 100%;
    }
    
    #search {
        border: 1px dotted black; 
        height: 80%;
        width: 90%;
        margin:2px;
    }
    
    #keyboard {
        border: 1px dotted black; 
        height: 80%;
        width: 10%;
        margin:2px;
        padding:1px;
    }
    
    #glass {
        border: 1px dotted black; 
        position: relative;
        right : 2px;
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    
    #mic {
        display: None;
        border: 1px dotted black; 
        height: 80%;
        width: 8%;
        margin:2px;
        padding:1px;
    }
    
    .item3 {
        display:flex;
        border: 1px dotted black; 
        height: 40px;
    }
    
    #MakeVideo_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #App_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #Notice_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #Id_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
}

@media (max-width: 400px){
    .container {
        position : fixed;
        top: 5px;
        left: 0;
        right: 0;
        flex-direction: row;  
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        border: 1px dotted black; 
        height: 40px;
    }
    .item1 {
        display: flex;
        align-items: flex-start;
        border: 1px dotted black;
        height: 40px;
        margin-left: 8px;
    }
    
    #list {
        /* display: inline-block; */
        border: 1px dotted black; 
        width: 40px; 
        height: 30px;
        margin: 2px;
        padding: 2px;
        background-image: url("list.png");
        background-size: 90%;
    }
    
    #logo {
        display: inline-block;
        width: 90px; 
        height: 30px;
        margin: 2px;
        padding: 2px;
        background-image: url("logo.png");
        background-size: 120%;
    }
    
    .item2 {
        display:flex;
        justify-content: flex-end;
        border: 1px dotted black;
        width:40% ;
        height: 100%;
    }
    
    .item2-1{
        display: None;
        flex-direction: row;
        justify-content: space-between;
        width : 84%;
        height: 100%;
    }
    
    #search {
        border: 1px dotted black; 
        height: 80%;
        width: 90%;
        margin:2px;
    }
    
    #keyboard {
        border: 1px dotted black; 
        height: 80%;
        width: 10%;
        margin:2px;
        padding:1px;
    }
    
    #glass {
        border: 1px dotted black; 
        position: relative;
        right : 2px;
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    
    #mic {
        display: None;
        border: 1px dotted black; 
        height: 80%;
        width: 8%;
        margin:2px;
        padding:1px;
    }
    
    .item3 {
        display:flex;
        border: 1px dotted black; 
        height: 40px;
    }
    
    #MakeVideo_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #App_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #Notice_Icon {
        border: 1px dotted black; 
        display : None;
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
    #Id_Icon {
        border: 1px dotted black; 
        height: 32px;
        width: 30px;
        margin:2px;
        padding:1px;
    }
}

.container2 {
    position : fixed;
    top: 45px;
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 202px;
    border: 1px dotted black; 
}

.C2_firstline {
    border : 1px dotted black;
    height : 150px ;
    flex-direction: column;
    display : flex;    
}

.Home_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image1-1 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text1-1 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.Search_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image1-2 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text1-2 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.Subscribe_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image1-3 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text1-3 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.C2_Secondline {
    border : 1px dotted black;
    height : 250px ;
    flex-direction: column;
    display : flex;    
}

.Storage_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image2-1 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text2-1 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}
.Log_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image2-2 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text2-2 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}
.MyVideo_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image2-3 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text2-3 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}
.WatchLater_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image2-4 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text2-4 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}
.LikeVideo_Btn {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image2-5 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text2-5 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.C2_Thirdline {
    border : 1px dotted black;
    height : 450px ;
    flex-direction: column;
    display : flex;    
}
#Label {
    border : 1px dotted black;
    display: flex;
    font-weight: lighter;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

.aaa {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-2 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-2 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.bbb {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-3 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-3 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.ccc {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-4 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-4 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.ddd {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-5 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-5 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.eee {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-6 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-6 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.fff {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-7 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-7 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.ggg {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-8 {
    border : 1px dotted black;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-8 {
    border : 1px dotted black;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.hhh {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image3-9 {
    border : 1px dotted black;
    font-weight : right;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text3-9 {
    border : 1px dotted black;
    font-weight : right;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.C2_Fourthline {
    border : 1px dotted black;
    height : 350px ;
    flex-direction: column;
    display : flex;    
}

#C2_F_Label {
    border : 1px dotted black;
    display: flex;
    font-weight: lighter;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

.aaa4 {
    border : 1px dotted black;
    display: flex;
    height : 40px ;
    width : 95% ;
    margin : 2px ;
    padding : 2px ;
}

#image4-1 {
    border : 1px dotted black;
    font-weight : right;
    width : 20%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

#text4-1 {
    border : 1px dotted black;
    font-weight : right;
    width : 80%;
    height : 80% ;
    margin : 1px ;
    padding : 2px ;
}

.Gridcontainer {
	/* display: grid; */
    /* display: inline-grid; */
    /* grid-template-columns: 200px 200px 500px; */
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	/* grid-template-columns: repeat(4, 1fr); */
	/* grid-template-columns: 200px 1fr */
	/* grid-template-columns: 100px 200px auto */

	/* grid-template-rows: 200px 200px 500px; */
	/* grid-template-rows: 1fr 1fr 1fr 1fr; */
	/* grid-template-rows: repeat(4, 1fr); */
	/* grid-template-rows: 200px 1fr */
	/* grid-template-rows: 100px 200px auto */

    /* gap: 100px 200px;
    grid-gap: 20px; */
    position: absolute;

    display: inline-flex ;
    flex-wrap: wrap ;
    flex-direction: row;
    top: 60px;
    left: 220px;
}

.item_1-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail1 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_1-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image1 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_1_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_1 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name1 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_1_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

.item_2-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail2 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_2-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image2 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_2_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_2 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_2_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_3-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail3 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_3-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image3 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_3_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_3 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name3 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_3_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}


/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_4-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail4 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_4-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image4 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_4_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_4 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name4 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_4_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}


/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_5-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail5 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_5-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image5 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_5_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_5 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name5 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_5_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}


/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_6-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail6 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_6-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image6 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_6_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_6 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name6 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_6_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_7-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail7 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_7-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image7 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_7_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_7 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name7 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_7_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */


.item_8-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail8 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_8-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image8 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_8_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_8 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name8 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_8_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_9-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail9 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_9-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image9 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_9_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_9 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name9 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_9_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_10-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail10 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_10-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image10 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_10_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_10 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name10 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_10_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_11-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail11 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_11-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image11 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_11_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_11 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name11 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_11_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_12-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail12 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_12-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image12 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_12_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_12 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name12 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_12_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_13-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail13 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_13-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image13 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_13_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_13 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name13 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_13_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_14-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail14 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_14-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image14 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_14_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_14 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name14 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_14_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_15-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail15 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_15-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image15 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_15_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_15 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name15 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_15_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}

/* ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ--> */

.item_16-1 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border : 1px dotted black;
    height : 250px ;
    width : 350px ;
}

#Thumbnail16 {
    border : 1px dotted black;
    height : 70% ;
    width : 97% ; 

    margin : 2px ;
    padding : 2px ;
}

.item_16-2 {
    display :flex;
    flex-direction: row;
    border : 1px dotted black;
    height : 30% ;
    width : 97% ;
    margin : 2px ;
    padding : 2px ;
}

#YouTuber_image16 {
    border : 1px dotted black;
    height : 87% ;
    width : 30% ;
    margin : 2px ;
    padding : 2px ;
}

.Info_16_1{
    border : 1px dotted black;
    display:flex;
    flex-direction: column;
    height : 87% ;
    width : 70% ;
    margin : 2px ;
    padding : 2px ;
}

#title_16 {
    border : 1px dotted black;
    height : 60% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#YouTuber_Name16 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}
#Info_16_2 {
    border : 1px dotted black;
    height : 20% ;
    width : 98% ;
    margin : 1px ;
    padding : 1px ;
}